MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=admin
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=admin

MDNS_HOSTNAME=mychromecast
APP_ID=1234ABCD
CONNECT_DEVICES=false
MONGO_USERNAME=root
MONGO_PWD=admin
